<div class="header">
  <h1>Edit Meetup</h1>
</div>

<div class="container">
  <%= simple_form_for @meetup, url: meetup_path(@meetup), method: :patch do |f| %>
    <div class="form-group">
      <%= f.input :title, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.input :date, as: :datetime, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.input :description, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= link_to "Back to meetups", root_path, class: "btn btn-primary" %>
      <%= f.submit "Update Meetup", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
