<h1>New Meetup</h1>
<%= simple_form_for @meetup do |f| %>
  <%= f.input :title %>
  <%= f.input :date, as: :datetime %>
  <%= f.input :description %>
  <%= f.submit "Create Meetup", class: "btn btn-primary" %>
<% end %>
