<div class="banner">
  <h1>Meet your new best friend!</h1>

  <div class="searchbox-container">
    <div class="SearchBox">
      <input type="text" class="SearchBox-input" placeholder="Search meetups...">
      <button class="SearchBox-button">
        <i class="SearchBox-icon material-icons">search</i>
      </button>
    </div>
  </div>
</div>


<div class="cards-container">
  <% @users_with.each do |user| %>
    <div class="card">
      <%= link_to user_path(user) do  %>
        <%= cl_image_tag user.photo.key, class: "card-img-top" if user.photo.attached? %>
        <%= image_tag image_path("dummy.jpeg"), class: "card-img-top" unless user.photo.attached? %>
      <% end %>
      <div class="card-body" style="background-color: rgba(245, 2, 87, 0.1);">
  <h5 class="card-title"><%= user.username %></h5>
  <% user.tags.first(@num_tags).each do |tag| %>
    <p class="card-text"><%= tag.title %></p>
  <% end %>

        <%# Meetups %>
        <% user.meetups.each do |meetup| %>
          <div>
            <% year = meetup.date.year.to_i == @current_year ? "" : ", #{meetup.date.year}"  %>
            <% link_text = "#{meetup.title} on #{@months[meetup.date.month.to_i - 1]} #{meetup.date.day}#{year}" %>
            <%= link_to link_text, user_path(user), class: "btn" %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
