<% full_name = "#{@user.first_name} #{@user.last_name}" %>

<div class="container" id="white-thing">
  <div class="card-body custom-card-body">
    <div class="row">
      <div class="col-12 col-sm-auto mb-3">
        <div class="mx-auto">
          <div id="profile-image" class="d-flex justify-content-center align-items-center rounded">
            <%= cl_image_tag @user.photo.key, class: "card-img-top" if @user.photo.attached? %>
            <%= image_tag image_path("dummy.jpeg"), class: "card-img-top" unless @user.photo.attached? %>
          </div>
        </div>
      </div>
      <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
        <div class="text-left text-sm-left mb-2 mb-sm-0">
          <h4 class="pt-sm-2 pb-1 mb-0 text-nowrap"><%= full_name %></h4>
          <p class="mb-0"><%= @user.username %></p>
          <% if @user == current_user %>
            <%= link_to "Edit my Profile", edit_user_registration_path, class:"btn btn-profile" %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="tab-content pt-3">
      <div class="tab-pane active">
        <form class="form" novalidate="">
          <div class="form-group mb-4">
            <label>About</label>
            <span class="form-control" placeholder="My Bio"><%= @user.description %></span>
          </div>
          <div class="form-group mb-4">
            <label>Interest tags</label>
            <div class="custom-controls-stacked px-2 interest-tags">
              <% @utags.each do |utag| %>
                <div class="interest-tag">
                  <p class="olis-interest-tag" ><%= utag.tag.title %></p>
                </div>
              <% end %>
            </div>
          </div>
          <%# meetups %>
          <% @meetups.each do |meetup| %>
            <div class="meetup-card">
              <% year = meetup.date.year.to_i == @current_year ? "" : ", #{meetup.date.year}" %>
              <h5><%= meetup.title %> on <%= @months[meetup.date.month.to_i - 1] %> <%= meetup.date.day %><%= year %></h5>
              <p><%= meetup.description %></p>
              <% if policy(meetup).edit? %>
                <%= link_to "Edit", edit_meetup_path(meetup), class:"btn btn-profile" %>
                <%= link_to "Display", meetup_path(meetup), class:"btn btn-profile" %>
              <% else %>
                <% bookings = meetup.bookings %>
                <% if bookings.map { |booking| booking.user }.include?(current_user) %>
                  <%# <%= link_to "Unbook", new_booking_path(meetup), class:"btn btn-profile" %>
                  <%= link_to "Unbook", booking_path(bookings.find { |booking| booking.user == current_user } ), data: { turbo_method: :delete, confirm: "Are you sure you want to cancel this Booking?" }, class: "btn btn-profile", remote: true %>
                <% else %>
                  <%= link_to "Book", new_booking_path(meetup), class:"btn btn-profile" %>
                <% end %>
              <% end %>
            </div>
          <% end %>
        </form>
      </div>
    </div>
<% if @user == current_user %>
  <%# my booked meetups %>
  <div class="meetup-status">
    <% @bookings.each do |booking| %>
      <% if booking.accepted? %>
        <p>
          <span class="icon"><i class="fas fa-user-check"></i></span>
          <%= link_to booking.meetup.user.username, user_path(booking.meetup.user), class: "profile-link" %>
          <span class="status-text">has accepted your request!</span>
        </p>
      <% else %>
        <p>
          <span class="icon"><i class="fas fa-user-plus fa-bounce"></i></span>
          <span class="status-text">Waiting for <%= link_to booking.meetup.user.username, user_path(booking.meetup.user), class: "profile-link" %> to accept your request</span>
        </p>
      <% end %>
    <% end %>
  </div>
<% end %>

  </div>
</div>
<script>
  function previewImage(event) {
    var input = event.target;
    if (input.files && input.files[0]) {
      var reader = new FileReader();
      reader.onload = function (e) {
        document.getElementById('preview-image').src = e.target.result;
      };
      reader.readAsDataURL(input.files[0]);
    }
  }
</script>
